#footer-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: #000000;
  margin-top: 0;


  #footer {
    color: #ffffff;
    h3{font-size: 1em; text-decoration: none;}
      @include grid-row();
        .footer-colonna {
           @include grid-column(3);
           padding: rem-calc(30) 0;

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
      }
    }



}

#banda-loghi{
  background-color: #ffffff;
  margin: 5% auto;
  text-align: center;
  @include grid-row();
}
